.ui.borderless.topmenu.menu {
  background-color: #white;
  box-shadow:none;
  border: none;
}

.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
}

.footer-background {
  background: #004030;
  color: white;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 50px;
}